<template>
    <div >
        <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index-2.html"><img src="img/nysclogo.png" alt="" style="width: 110px; height: 100px"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-center">
                        <h1 style="color: white">EPS TUESDAY CDS - WHATSAPP VERIFICATION PAGE </h1>

                        
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!-- <li class="nav-item"><a href="#" class="primary_btn">login</a></li> -->
                        
                            
                        </ul>
                        <!-- <form class="form-inline">
                              <div class="form-group mx-sm-3 mb-2">
                                <label for="inputPassword2" class="sr-only">Email</label>
                                <input type="email"  class="form-control" id="staticEmail2" placeholder="Email">
                              </div>
                              <div class="form-group mx-sm-3 mb-2">
                                <label for="inputPassword2" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                              </div>
                              <button type="submit" class="primary_btn mb-2">Login</button>
                      </form> -->
                    </div>
                
                </div>
            </nav>

        </div>
          <div class="row">
              <div class="col-xl-8"></div>
              <div class="col-xl-2">
                     <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item submenu dropdown active">
                                    <a href="#" class="nav-link dropdown-toggle alert alert-success" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false" >Jane Pat </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item alert alert-success" ><a class="nav-link" href="price.html" v-on:click.prevent="showaddamin()">Add New User</a></li>
                                        <li class="nav-item alert alert-success"><a class="nav-link" href="games.html" v-on:click.prevent="whatsapplink()">Whatsap Link</a></li>
                                    </ul>
                                </li>
                    </ul>
              </div>
              <div class="col-xl-2"></div>
          </div>
    </header>
    <!--================Header Menu Area =================-->
<div class="row" style="margin-top: 180px">
    <div class="col-xl-1"> </div>
    <div class="col-xl-1"> 
<button class="btn btn-info" v-on:click="lunchadd()">Add New</button>
    </div>
    <div class="col-xl-8">
        <table class="table" >

  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">State Code</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="coremember in coremembers" :key="coremember.id">
      <th scope="row" >{{count + 1}}</th>
      <td>{{coremember.state_code}}</td>
      <td>{{coremember.phone_number}}</td>
      <td v-if="coremember.status == '1'"><span class="alert alert-success">Active</span> </td>
      <td v-if="coremember.status == '0'"><span class="alert alert-danger">Inactive</span></td>
      <td><a href="" class="btn btn-info" v-on:click.prevent="lunchedit(coremember)">Edit</a><a href="" class="btn btn-danger" style="margin-left: 2px" v-on:click.prevent="deleteuser(coremember.id)">Delete</a></td>
    </tr>
    
  </tbody>
</table>
    </div>
    <div class="col-xl-2"></div>
    
</div>
    <div class="modal fade" id="core" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" v-if="add">Add User</h5>
        <h5 class="modal-title" id="exampleModalLongTitle" v-if="!add">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="" v-model="state_code" class="form-control" placeholder="State Code" style="margin-top: 50px;"> 
        <label  v-if="!add" style="margin-top: 15px">Status</label>
        <select class="form-control" v-model="status"  v-if="!add">
            <option value="1">Active</option>
            <option value="0">Inactive</option>
        </select>
        <input type="number" name=""  v-if="!add" v-model="phone_number" class="form-control" placeholder="Whatsapp Number" style="margin-top: 10px;margin-bottom: 20px; ">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" v-if="!add"  v-on:click="edituser()"> Save </button>
        <button type="button" class="btn btn-primary" v-if="add" v-on:click="adduser()">Add</button>
      </div>
    </div>
  </div>
</div>
 <div class="modal fade" id="admin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" >Add An Admin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="" v-model="name" class="form-control" placeholder="Name" style="margin-top: 50px;"> 
        
        <input type="email" name=""   v-model="email" class="form-control" placeholder="Email" style="margin-top: 10px;margin-bottom: 20px; ">
        <input type="password" name=""   v-model="password" class="form-control" placeholder="Password" style="margin-top: 10px;margin-bottom: 20px; ">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"   v-on:click="addadmin()"> Save </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="whatsapplink" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" >Whatsapp Group Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="" v-model="group_link" class="form-control" placeholder="Group Link" style="margin-top: 50px;"> 
         </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"   v-on:click="savewhatsapplink()"> Save </button>
      </div>
    </div>
  </div>
</div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                coremembers: {},
                count: 0,
                txt: "",
                state_code: "",
                user: {},
                phone_number: "",
                status: "",
                add: true,
                name: "",
                email: "",
                password: "",
                group_link: ""

            }
        },
        methods: {
            lunchadd(){
                this.status = "";
                this.state_code = "";
                this.phone_number = "";
                this.add = true;
                $('#core').modal('show');

            },
            whatsapplink(){
                   $('#whatsapplink').modal('show');
            },
            savewhatsapplink(){
                  this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
                   axios.post('/api/savelink' , {'group_link' : this.group_link}).then((response) => {
                       console.log(response.data);
                      if(response.data.code == undefined){
                       // window.location.href = '/signin'; 
                      }
                     else{
                        this.$swal('Success', "Whatsapp Link Updated Successfully.", 'success');
                        $('#whatsapplink').modal('hide');

                     }
                        

                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                   // window.location.href = '/signin';


                  });
            },
            lunchedit(user){
                this.user = user;
                this.add = false;
                this.status = user.status;
                this.state_code = user.state_code;
                this.phone_number = user.phone_number;
                $('#core').modal('show');


            },
            showaddamin(){
                this.name = "";
                this.email = "";
                this.password = "";
                $('#admin').modal('show');

            },
            addadmin(){
             
                if(this.name == ""){
                    this.$swal('Error', "Enter User Name", 'error');
                }
                else if(this.email == ""){
                    this.$swal('Error', "Enter User Email", 'error');
                }
                  else if(this.password == ""){
                    this.$swal('Error', "Enter User Password", 'error');
                }
                else{
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
                   axios.post('/api/adduser' , {'name' : this.name ,'email' : this.email,'password' : this.password}).then((response) => {
                       console.log(response.data);
                      if(response.data.code == undefined){
                        this.txt = "";
                       if(response.data.name  != undefined){
                
                            this.txt += response.data.name ;
                            this.txt += ',';

                            }

                             if((response.data.email != undefined)){
                                this.txt += response.data.email;
                                this.txt += ',';
                            }
                             if((response.data.password != undefined)){
                                this.txt += response.data.password;
                                this.txt += ',';
                            }
                             
                             this.$swal('Error', this.txt, 'error');
                      }
                     else if(response.data.code == "200"){
                             this.$swal('Success', "User Account Created Successfully.", 'success');

                             Fire.$emit('reload');
                             $('#admin').modal('hide');
                     }
                      else{
                        this.$swal('Error',response.data.error , 'error');
                      }

                       

                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                   // window.location.href = '/signin';


                  });   
                }
            },
            edituser(){
                this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
                   axios.post('/api/editmember' , {'state_code' : this.state_code ,'phone_number' : this.phone_number,'status' : this.status , 'id' : this.user.id}).then((response) => {
                       console.log(response.data);
                      if(response.data.code == undefined){
                        this.txt = "";
                       if(response.data.state_code != undefined){
                
                            this.txt += response.data.state_code;
                            this.txt += ',';

                            }

                             if((response.data.phone_number != undefined)){
                                this.txt += response.data.phone_number;
                                this.txt += ',';
                            }
                             if((response.data.status != undefined)){
                                this.txt += response.data.status;
                                this.txt += ',';
                            }
                              if((response.data.id != undefined)){
                                this.txt += response.data.id;
                                this.txt += ',';
                            }
                             this.$swal('Error', this.txt, 'error');
                      }
                     else if(response.data.code == "200"){
                             this.$swal('Success', "Edited Successfully.", 'success');

                             Fire.$emit('reload');
                             $('#core').modal('hide');
                     }
                      else{
                        this.$swal('Error',response.data.error , 'error');
                      }

                       

                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                   // window.location.href = '/signin';


                  });
            },
            deleteuser(id){
                    this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
                   axios.post('/api/deletemember' , { 'id' : id}).then((response) => {
                       console.log(response.data);
                      if(response.data.code == undefined){
                        this.txt = "";
                       if(response.data.state_code != undefined){
                
                            this.txt += response.data.state_code;
                            this.txt += ',';

                            }

                             if((response.data.phone_number != undefined)){
                                this.txt += response.data.phone_number;
                                this.txt += ',';
                            }
                             if((response.data.status != undefined)){
                                this.txt += response.data.status;
                                this.txt += ',';
                            }
                              if((response.data.id != undefined)){
                                this.txt += response.data.id;
                                this.txt += ',';
                            }
                             this.$swal('Error', this.txt, 'error');
                      }
                     else if(response.data.code == "200"){
                             this.$swal('Success', "Deleted Successfully.", 'success');

                             Fire.$emit('reload');
                             $('#core').modal('hide');
                     }
                      else{
                        this.$swal('Error',response.data.error , 'error');
                      }

                       

                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                   // window.location.href = '/signin';


                  });
            },
            adduser(){
                
         this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
                   axios.post('/api/addmember' , {'state_code' : this.state_code ,'phone_number' : "",'status' : '0'}).then((response) => {
                       console.log(response.data);
                      if(response.data.code == undefined){
                        this.txt = "";
                       if(data.state_code != undefined){
                
                            this.txt += data.state_code;
                            this.txt += ',';
                            }

                             if((data.phone_number != undefined)){
                                this.txt += data.phone_number;
                                this.txt += ',';
                            }
                             if((data.status != undefined)){
                                this.txt += data.status;
                                this.txt += ',';
                            }
                             this.$swal('Error', this.txt, 'error');
                      }
                     else if(response.data.code == "200"){
                             this.$swal('Success', "Added Successfully.", 'success');

                             Fire.$emit('reload');
                             $('#core').modal('hide');
                     }
                       

                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                   // window.location.href = '/signin';


                  });

            },
            loadusers(){
                 this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
                   axios.get('/api/getusers').then((response) => {
                       console.log(response.data);
                      if(response.data.code == undefined){
                       // window.location.href = '/signin'; 
                      }
                     
                        this.coremembers = response.data.coremembers;
                        this.group_link = response.data.whatsapp_link;

                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                // console.log(err.response.data);
                   // window.location.href = '/signin';


                  });
            }
        },
        mounted() {
            this.loadusers();
             Fire.$on('reload', () => {
            this.loadusers();
           
          })
        }
    }
</script>
