<template>
    <div >
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/index-2.html"><img src="/img/nysclogo.png" alt="" style="width: 110px; height: 100px"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-center">
                        
                        
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="alert alert-info"  v-on:click.prevent="displaylogin()" id="login_button">login</li>
                            
                            
                        </ul>
                        <form class="form-inline" style="visibility: none" id="login_flag">
                              <div class="form-group mx-sm-3 mb-2" style="margin-top: 50px">
                                <label for="inputPassword2" class="sr-only">Email</label>
                                <input type="email"  class="form-control" id="staticEmail2" v-model="email" placeholder="Email">
                              </div>
                              <div class="form-group mx-sm-3 mb-2">
                                <label for="inputPassword2" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="inputPassword2" v-model="password" placeholder="Password">
                               <button class="btn btn-success" id="submit"  v-on:click.prevent="login()" style="margin: 15px"> <i id="loader" style="display: none" class="fa fa-circle-o-notch fa-spin"></i>login</button>
                              </div>
                      </form>
                    </div>
                   <!--  -->
                </div>
            </nav>
           
        </div>
    </header>
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="home_banner_area" style="margin-top: 140px"> <!-- // style="margin-top: 160px;height: 450px !important"> -->
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home_left_img">
                            <img class="img-fluid" src="/img/phone.png" alt="" style="width: 600px; height: 300px">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <hr>
           <center> <h1 style="color: white">EPS TUESDAY CDS - WHATSAPP VERIFICATION PAGE</h1></center>
                        <div class="banner_content">
                        <h3 style="margin-top: 120px">
                                Enter Your State Code and Whatsapp Phone Number to Join The Whatsapp Group.
                            </h3>
                            <p>
                                This is strictly for corp members assigned to EPS tuesday, if ou have any issue join please message us using the contact us form.
                            </p>
                            <form id="verificationform">   
                                <center><input type="text" v-model= "state_code" name="" class="form-control" placeholder="State Code" style="margin-top: 50px; width: 250px"> </center>
                                <center><input type="number" v-model="phone_number" name="" class="form-control" placeholder="Whatsapp Number" style="margin-top: 10px;margin-bottom: 20px; width: 250px"></center>
                                <center><button id="sum_val" class="primary_btn" v-on:click.prevent="validatestate_code()" > <i id="validator" style="display: none" class="fa fa-circle-o-notch fa-spin"></i>Verify</button> </center>
                            <!--    <div class="row">
                                    <div class="col-lg-1">
                                        
                                    </div>
                                    <div class="col-lg-8">
                                        <input type="text" name="" class="form-control" placeholder="State Code" > 
                                        <input type="number" name="" class="form-control" placeholder="Whatsapp Number" style="margin-top: 10px"> 
                                    </div>
                                    <div class="col-lg-3">
                                        
                                    </div>
                                    
                                </div> -->
                            </form>
                            <a v-bind:href="link" class="primary_btn" style="display: none" id="link">Join The EPS TUESDAY Whatsapp Group</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Start About Us Area =================-->
    <section class="about_us_area section_gap_top">
        <div class="container">
            <div class="row about_content align-items-center">
                <div class="col-lg-10">
                    <div class="section_content">
                        <h6>Contact Us</h6>
                        <h1>If you have experience any issue please contact Us NOW!!!</h1>
                        <div class="row"> 
                            
                                <div class="col-xl-6 offset-2">
                                    <form>
                                    <input type="text" class="form-control" name="Name" placeholder="Name" >
                                    <input type="email" class="form-control" name="Email" placeholder="Email" style="margin-top: 10px">
                                    <textarea class="form-control" style="margin-top: 10px"  placeholder="message"></textarea>
                                    <center><button style="margin-top: 10px"  class="primary_btn">Send</button></center>
                                    </form>
                                </div>
                            
                        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--================End About Us Area =================-->


    

    <!--================Footer Area =================-->
    <footer class="footer_area section_gap_top">
        <div class="container">
    
            <div class="row single-footer-widget">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="copy_right_text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script type="fac4bd6be35cd23db4ab693d-text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | EPS TUESDAY || WHATSAPP VRIFICATION PAGE </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    
                </div>
            </div>
        </div>
    </footer>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                link: "",
                txt: "",
                email: "",
                password: "",
                token2: "",
                state_code: "",
                phone_number: ""
            }
        },
        methods: {
            validatestate_code(){
                console.log("na waa oo")
                 if(this.state_code == ""){
                    this.$swal('Error', "Enter Your State Code", 'error');
                }
                else if(this.phone_number == ""){
                    this.$swal('Error', "Enter Whatsapp Phone Number", 'error');
                }
               
                else{
                      $('#validator').show();
                      $('#sum_val').attr('disabled','disabled');
                     this.token = "Bearer "  + localStorage.getItem('access_token');
                        axios.defaults.headers = {
                                'Content-Type': 'application/json',
                                 Authorization: this.token
                            }

                // localStorage.setItem('access_token', data.access_token);
                   axios.post('/validateuser' , {'state_code' : this.state_code ,'phone_number' : this.phone_number}).then((response) => {
                       console.log(response.data);
                      if(response.data.code == undefined){
                        this.txt = "";
                       if(response.data.state_code  != undefined){
                
                            this.txt += response.data.name ;
                            this.txt += ',';

                            }

                             if((response.data.phone_number != undefined)){
                                this.txt += response.data.phone_number;
                                this.txt += ',';
                            }
                           
                             this.$swal('Error', this.txt, 'error');
                                 $('#validator').hide();
                                 $('#sum_val').removeAttr('disabled');
                      }
                     else if(response.data.code == "200"){
                        this.link = response.data.link;
                             this.$swal('Success', "User Validated", 'success');
                             $('#verificationform').hide();
                             $('#link').show();

                            
                     }
                      else{
                        this.$swal('Error',response.data.error , 'error');
                            $('#validator').hide();
                             $('#sum_val').removeAttr('disabled');
                      }

                       

                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                this.errorstat = true;
                this.error = err.response.data; 
                   this.$swal('Error', 'Server Error', 'error');
                      $('#validator').hide();
                             $('#sum_val').removeAttr('disabled');
                // console.log(err.response.data);
                   // window.location.href = '/signin';


                  });
                }
            },
            login(){

                if (this.email == ""){
                     this.$swal('Error', 'Please Enter your Email', 'error');
                       $('#loader').hide();
                      $('#submit').removeAttr('disabled');
                }
                else if(this.password == ""){
                     this.$swal('Error', 'Please Enter your Password', 'error');
                       $('#loader').hide();
                      $('#submit').removeAttr('disabled');
                
                }else{
                    $('#loader').show();
                      $('#submit').attr('disabled','disabled');
                    axios.post('/oauth/token', 
                    {
                        username: this.email, 
                        password: this.password,
                        grant_type: "password",
                        client_id: "2",
                        client_secret: "ZqFsNNdW3ZgJqBNSbCc4prGzs1A1hEuxLBNDerRW"
                    }
                        ).then((response) => {
                        console.log(response)
                       
                       localStorage.setItem('access_token', response.data.access_token);
                           this.token2  = response.data.access_token;
                              console.log(this.token2);
                             this.token2 = "Bearer "  + this.token2;
                              console.log(this.token2);
                              $.ajax({
                              type: "GET",
                              headers: {'Content-Type': 'application/json', Authorization: this.token2  },
                              url: "/api/user",
                              success: function(patientDTO) {
                                  console.log("SUCCESS: ", patientDTO);
                                             localStorage.setItem('id', patientDTO.id);
                                             localStorage.setItem('created_at', patientDTO.created_at);
                                             window.location.href = '/dashboard';
                                   },
                              error: function(e) {
                                 $('#err').show();
                                  $('#loader').hide();
                                  $('#submit').removeAttr('disabled');
                              // display(e.responseJSON.message);
                              // alert(e);

                              }
                          });

                    }).catch(err => {
                    // localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
                     
                     this.$swal('Error', 'Wrong Details Provided', 'error');
                      $('#loader').hide();
                      $('#submit').removeAttr('disabled');
                        
                 console.log(err);
               


                  });  
                 
                }
                
                
            },
         displaylogin(){
            console.log('ok')
            $('#login_button').hide();
            $('#login_flag').show();

         }   
        },
        mounted() {
             $('#login_flag').hide();
            console.log('Component mounted.')
        }
    }
</script>
